In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
imdb = Table.read_table('imdb.csv')
imdb.show(5)

# Question 1
Find the ten movies released in the year 2000 or later with the highest number of votes according to imdb.csv. Format your answer as a table with columns Title and Votes (in that order) of the three requested movies.

In [3]:
t=imdb.where('Year',are.above_or_equal_to(2000)).sort("Votes", descending=True).take(np.arange(0,10))
b=t.select("Title","Votes")
b.show(10)

# Question 2

Create a table with columns Title and Votes containing all movies released in 1999.

Next, attach a new column to the table called Percent Votes that contains the percent of votes each movie received when considered among all votes cast for movies released in 1999.

For example, if the total number of votes cast for movies released in 1999 is 200 and "The Matrix" received 30 of them, then the column Percent Votes corresponding to "The Matrix" should 15.

In [25]:
z=imdb.where('Year',(1999))
x=z.select("Title","Votes")
d=x.column('Votes')
f= sum(d)
i=(d/f)*100
x=x.with_column("Percent Votes", i)
x

Title           | Votes   | Percent Votes
Fight Club      | 1177098 | 27.4441
American Beauty | 735056  | 17.1379
The Sixth Sense | 630994  | 14.7117
The Matrix      | 1073043 | 25.0181
The Green Mile  | 672878  | 15.6882