In [2]:
# Initialize Otter
import otter
grader = otter.Notebook("hw03.ipynb")

/home/codespace/.local/lib/python3.12/site-packages/nbformat/__init__.py:96: MissingIDFieldWarning: Cell is missing an id field, this will become a hard error in future nbformat versions. You may want to use `normalize()` on your notebooks before validations (available since nbformat 5.1.4). Previous versions of nbformat are fixing this issue transparently, and will stop doing so in the future.
  validate(nb)

# Homework 3: Table Manipulation and Visualization

Please complete this notebook by filling in the cells provided. Before you begin, execute the previous cell to load the provided tests.

**Helpful Resource:**
- [Python Reference](http://data8.org/su24/reference/): Cheat sheet of helpful array & table methods used in Data 8!

**Recommended Reading**: 
* [Visualization](https://inferentialthinking.com/chapters/07/Visualization.html)

In [3]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *
import warnings
warnings.simplefilter('ignore', FutureWarning)

# These lines do some fancy plotting magic.\n",
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

## 1. Unemployment

The Great Recession of 2008-2009 was a period of economic decline observed globally, with scale and timing varying from country to country. In the United States, it resulted in a rapid rise in unemployment that affected industries and population groups to different extents.

The Federal Reserve Bank of St. Louis publishes data about jobs in the US.  Below, we've loaded data on unemployment in the United States. There are many ways of defining unemployment, and our dataset includes two notions of the unemployment rate:

1. *Non-Employment Index (or NEI)*: Among people who are able to work and are looking for a full-time job, the percentage who can't find a job.
2. *NEI-PTER*: Among people who are able to work and are looking for a full-time job, the percentage who can't find any job *or* are only working at a part-time job.  The latter group is called "Part-Time for Economic Reasons", so the acronym for this index is NEI-PTER.  (Economists are great at marketing.)

The source of the data is [here](https://fred.stlouisfed.org/categories/33509).

**Question 1.** The data are in a CSV file called `unemployment.csv`.  Load that file into a table called `unemployment`.

_Hint:_ After loading in the CSV file, the `unemployment` table should look like this:

<img src="unemployment.png" width="20%"/>

In [4]:
unemployment = Table().read_table("unemployment.csv")
unemployment

Date       | NEI     | NEI-PTER
1994-01-01 | 10.0974 | 11.172
1994-04-01 | 9.6239  | 10.7883
1994-07-01 | 9.3276  | 10.4831
1994-10-01 | 9.1071  | 10.2361
1995-01-01 | 8.9693  | 10.1832
1995-04-01 | 9.0314  | 10.1071
1995-07-01 | 8.9802  | 10.1084
1995-10-01 | 8.9932  | 10.1046
1996-01-01 | 9.0002  | 10.0531
1996-04-01 | 8.9038  | 9.9782
... (80 rows omitted)

In [5]:
grader.check("q1_1")

q1_1 results: All test cases passed!

**Question 2.** Sort the data in descending order by NEI, naming the sorted table `by_nei`.  Create another table called `by_nei_pter` that's sorted in descending order by NEI-PTER instead.

In [6]:
by_nei = unemployment.sort("NEI",descending=True)
by_nei_pter = unemployment.sort("NEI-PTER",descending=True)

In [7]:
grader.check("q1_2")

q1_2 results: All test cases passed!

In [8]:
# Run this cell to check your by_nei table. You do not need to change the code.
by_nei.show(5)

In [9]:
# Run this cell to check your by_nei_pter table. You do not need to change the code.
by_nei_pter.show(5)

**Question 3.** Using `take`, assign `greatest_nei` to a table containing the data for the 11 quarters when NEI was greatest.

`greatest_nei` should be sorted in descending order of `NEI`. Note that each row of `unemployment` represents a quarter.

In [10]:
greatest_nei = by_nei.take(np.arange(11))
greatest_nei

Date       | NEI     | NEI-PTER
2009-10-01 | 10.9698 | 12.8557
2010-01-01 | 10.9054 | 12.7311
2009-07-01 | 10.8089 | 12.7404
2009-04-01 | 10.7082 | 12.5497
2010-04-01 | 10.6597 | 12.5664
2010-10-01 | 10.5856 | 12.4329
2010-07-01 | 10.5521 | 12.3897
2011-01-01 | 10.5024 | 12.3017
2011-07-01 | 10.4856 | 12.2507
2011-04-01 | 10.4409 | 12.247
... (1 rows omitted)

In [11]:
grader.check("q1_3")

q1_3 results: All test cases passed!

**Question 4.** It's believed that many people became PTER (recall: "Part-Time for Economic Reasons") in the "Great Recession" of 2008-2009.  NEI-PTER is the percentage of people who are unemployed (included in the NEI) plus the percentage of people who are PTER.

Compute an array containing the percentage of people who were PTER in each quarter.  (The first element of the array should correspond to the first row of `unemployment`, and so on.)

*Note:* Use the original `unemployment` table for this.

In [26]:
pter = unemployment.column("NEI-PTER")
pter

array([ 11.172 ,  10.7883,  10.4831,  10.2361,  10.1832,  10.1071,
        10.1084,  10.1046,  10.0531,   9.9782,   9.8631,   9.7301,
         9.7366,   9.537 ,   9.3037,   9.2069,   9.0969,   8.8923,
         9.0645,   8.8935,   8.7141,   8.9188,   8.7204,   8.541 ,
         8.3379,   8.4199,   8.4458,   8.4192,   8.4969,   8.804 ,
         8.9862,   9.6705,   9.93  ,   9.8924,   9.8211,   9.6759,
         9.9142,  10.0221,  10.0877,   9.9961,   9.8511,   9.7344,
         9.6846,   9.7019,   9.5387,   9.4368,   9.3486,   9.3271,
         9.178 ,   9.1606,   9.142 ,   9.0866,   9.0183,   9.1577,
         9.1351,   9.2266,   9.3475,   9.5938,  10.1713,  10.689 ,
        12.0139,  12.5497,  12.7404,  12.8557,  12.7311,  12.5664,
        12.3897,  12.4329,  12.3017,  12.247 ,  12.2507,  12.1214,
        11.7973,  11.6771,  11.7318,  11.5387,  11.7434,  11.4562,
        11.2893,  11.2656,  10.7737,  10.663 ,  10.5998,  10.4158,
        10.281 ,  10.1483,   9.9166,   9.8385,   9.6174,   9.7146])

In [27]:
grader.check("q1_4")

q1_4 results:
    q1_4 - 1 result:
        ✅ Test case passed

    q1_4 - 2 result:
        ❌ Test case failed
        Trying:
            round(pter.item(6), 4)
        Expecting:
            1.1282
        **********************************************************************
        Line 1, in q1_4 1
        Failed example:
            round(pter.item(6), 4)
        Expected:
            1.1282
        Got:
            10.1084

**Question 5.** Add `pter` as a column to `unemployment` (name the column `PTER`) and sort the resulting table by that column in descending order.  Call the resulting table `by_pter`.

Try to do this with a single line of code, if you can.

In [31]:
by_pter = unemployment.with_column("PTER", pter)
by_pter

Date       | NEI     | NEI-PTER | PTER
1994-01-01 | 10.0974 | 11.172   | 11.172
1994-04-01 | 9.6239  | 10.7883  | 10.7883
1994-07-01 | 9.3276  | 10.4831  | 10.4831
1994-10-01 | 9.1071  | 10.2361  | 10.2361
1995-01-01 | 8.9693  | 10.1832  | 10.1832
1995-04-01 | 9.0314  | 10.1071  | 10.1071
1995-07-01 | 8.9802  | 10.1084  | 10.1084
1995-10-01 | 8.9932  | 10.1046  | 10.1046
1996-01-01 | 9.0002  | 10.0531  | 10.0531
1996-04-01 | 8.9038  | 9.9782   | 9.9782
... (80 rows omitted)

In [32]:
grader.check("q1_5")

q1_5 results:
    q1_5 - 1 result:
        ❌ Test case failed
        Trying:
            by_pter.take(0)
        Expecting:
            Date       | NEI     | NEI-PTER | PTER
            2009-07-01 | 10.8089 | 12.7404  | 1.9315
        **********************************************************************
        Line 1, in q1_5 0
        Failed example:
            by_pter.take(0)
        Expected:
            Date       | NEI     | NEI-PTER | PTER
            2009-07-01 | 10.8089 | 12.7404  | 1.9315
        Got:
            Date       | NEI     | NEI-PTER | PTER
            1994-01-01 | 10.0974 | 11.172   | 11.172

**Question 6.** Create a line plot of PTER over time. To do this, create a new table called `pter_over_time` with the same columns as the `unemployment` table with the addition of two new columns: `Year` and `PTER` using the `year` array and the `pter` array, respectively. Then, generate a line plot using one of the table methods you've learned in class.

The order of the columns matter for our correctness tests, so be sure `Year` comes before `PTER`.

*Note:* When constructing `pter_over_time`, do not just add the `year` column to the `by_pter` table. Please follow the directions in the question above.

In [ ]:
year = 1994 + np.arange(by_pter.num_rows)/4
pter_over_time = ...
...
plt.ylim(0,2); # Do not change this line

In [ ]:
grader.check("q1_6")

**Question 7.** Were PTER rates high during the Great Recession (that is to say, were PTER rates particularly high in the years 2008 through 2011)? Assign `highPTER` to `True` if you think PTER rates were high in this period, or `False` if you think they weren't.

In [ ]:
highPTER = ...

In [ ]:
grader.check("q1_7")

## 2. Birth Rates

The following table gives Census-based population estimates for each US state on both July 1, 2015 and July 1, 2016. The last four columns describe the components of the estimated change in population during this time interval. **For all questions below, assume that the word "states" refers to all 52 rows including Puerto Rico and the District of Columbia.**

The data was taken from [here](http://www2.census.gov/programs-surveys/popest/datasets/2010-2016/national/totals/nst-est2016-alldata.csv). (Note: If the file doesn't download for you when you click the link, you can copy and paste the link address it into your address bar!) If you want to read more about the different column descriptions, click [here](http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/totals/nst-est2015-alldata.pdf).

The raw data is a bit messy—run the cell below to clean the table and make it easier to work with.

In [33]:
# Don't change this cell; just run it.
pop = Table.read_table('nst-est2016-alldata.csv').where('SUMLEV', 40).select([1, 4, 12, 13, 27, 34, 62, 69])
pop = pop.relabeled('POPESTIMATE2015', '2015').relabeled('POPESTIMATE2016', '2016')
pop = pop.relabeled('BIRTHS2016', 'BIRTHS').relabeled('DEATHS2016', 'DEATHS')
pop = pop.relabeled('NETMIG2016', 'MIGRATION').relabeled('RESIDUAL2016', 'OTHER')
pop = pop.with_columns("REGION", np.array([int(region) if region != "X" else 0 for region in pop.column("REGION")]))
pop.set_format([2, 3, 4, 5, 6, 7], NumberFormatter(decimals=0)).show(5)

**Question 1.** Assign `us_birth_rate` to the total US annual birth rate during this time interval. The annual birth rate for a year-long period is the total number of births in that period as a proportion of the total population size at the start of the time period.

_Hint:_ Remember that each row in the `pop` table refers to a state, not the US as a whole.

In [42]:
us_birth_rate = sum(pop.column("BIRTHS"))/sum(pop.column("2015"))
us_birth_rate

0.012358536498646102

In [43]:
grader.check("q2_1")

q2_1 results: All test cases passed!

**Question 2.** Assign `movers` to the number of states for which the **absolute value** of the **annual rate of migration** was higher than 1%. The annual rate of migration for a year-long period is the net number of migrations (in and out) as a proportion of the population size at the start of the period. The `MIGRATION` column contains estimated annual net migration counts by state.

*Hint*: `migration_rates` should be a table and `movers` should be a number.

In [ ]:
migration_rates = ...
movers = ...
movers

In [ ]:
grader.check("q2_2")

**Question 3.** Assign `west_births` to the total number of births that occurred in region 4 (the Western US).

*Hint:* Make sure you double check the type of the values in the `REGION` column and appropriately filter (i.e. the types must match!).

In [ ]:
west_births = ...
west_births

In [ ]:
grader.check("q2_3")

**Question 4.** In the next question, you will be creating a visualization to understand the relationship between birth and death rates. The annual death rate for a year-long period is the total number of deaths in that period as a proportion of the population size at the start of the time period.

What visualization is most appropriate to see if there is an association between annual birth and death rates across multiple states in the United States?

1. Line Graph
2. Bar Chart
3. Scatter Plot

Assign `visualization` below to the number corresponding to the correct visualization.

In [ ]:
visualization = ...

In [ ]:
grader.check("q2_4")

<!-- BEGIN QUESTION -->

**Question 5.** In the code cell below, create a visualization that will help us determine if there is an association between birth rate and death rate during this time interval. It may be helpful to create an intermediate table containing the birth and death rates for each state.

Things to consider:

- What type of chart will help us illustrate an association between 2 variables?
- How can you manipulate a certain table to help generate your chart?
- Check out the [Recommended Reading](https://inferentialthinking.com/chapters/07/Visualization.html) for this homework!

In [ ]:
# In this cell, use birth_rates and death_rates to generate your visualization
birth_rates_2015 = pop.column('BIRTHS') / pop.column('2015')
death_rates_2015 = pop.column('DEATHS') / pop.column('2015')
...

<!-- END QUESTION -->

**Question 6.** True or False: There is an association between birth rate and death rate during this time interval. 

Assign `assoc` to `True` or `False` in the cell below.

In [ ]:
assoc = ...

In [ ]:
grader.check("q2_6")

## 3. Uber

**Note:** We recommend reading [Chapter 7.2](https://inferentialthinking.com/chapters/07/2/Visualizing_Numerical_Distributions.html) of the textbook before starting on Question 3.

Below we load tables containing 200,000 weekday Uber rides in the Manila, Philippines, and Boston, Massachusetts metropolitan areas from the [Uber Movement](https://www.uber.com/newsroom/introducing-uber-movement-2/) project. The `sourceid` and `dstid` columns contain codes corresponding to start and end locations of each ride. The `hod` column contains codes corresponding to the hour of the day the ride took place. The `ride time` column contains the length of the ride in minutes.

In [ ]:
boston = Table.read_table("boston.csv")
manila = Table.read_table("manila.csv")
print("Boston Table")
boston.show(4)
print("Manila Table")
manila.show(4)

<!-- BEGIN QUESTION -->

**Question 1.** Produce a histogram that visualizes the distributions of all ride times in Boston using the given bins in `equal_bins`.

*Hint:* See [Chapter 7.2](https://inferentialthinking.com/chapters/07/2/Visualizing_Numerical_Distributions.html) if you're stuck on how to specify bins.

In [ ]:
equal_bins = np.arange(0, 120, 5)
...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 2.** Now, produce a histogram that visualizes the distribution of all ride times in Manila using the given bins.

In [ ]:
equal_bins = np.arange(0, 120, 5)
...

# Don't delete the following line!
plt.ylim(0, 0.05);

<!-- END QUESTION -->

**Question 3.** Let's take a closer look at the y-axis label. Assign `unit_meaning` to an integer (1, 2, 3) that corresponds to the "unit" in "Percent per unit".

1. minute  
2. ride time  
3. second

In [ ]:
unit_meaning = ...
unit_meaning

In [ ]:
grader.check("q3_3")

**Question 4.** Assign `boston_under_15` and `manila_under_15` to the percentage of rides that are less than 15 minutes in their respective metropolitan areas. Use the height variables provided below in order to compute the percentages. Your solution should only use height variables, numbers, and mathematical operations. You should **not** access the tables `boston` and `manila` in any way.

> ***Note:*** that the height variables (i.e. `boston_under_5`) represent the height of the bin it describes.

In [ ]:
boston_under_5_bin_height = 1.2
manila_under_5_bin_height = 0.6
boston_5_to_under_10_bin_height = 3.2
manila_5_to_under_10_bin_height = 1.4
boston_10_to_under_15_bin_height = 4.9
manila_10_to_under_15_bin_height = 2.2

boston_under_15 = ...
manila_under_15 = ...

boston_under_15, manila_under_15

In [ ]:
grader.check("q3_4")

**Question 5.** Let's take a closer look at the distribution of ride times in Boston. Assign `boston_median_bin` to an integer (1, 2, 3, or 4) that corresponds to the bin that contains the median time.

1. 0-8 minutes  
2. 8-14 minutes  
3. 14-20 minutes  
4. 20-40 minutes  

*Hint:* The median of a sorted list has half of the list elements to its left, and half to its right.

In [ ]:
boston_median_bin = ...
boston_median_bin

In [ ]:
grader.check("q3_5")

<!-- BEGIN QUESTION -->

**Question 6.** Identify one difference between the histograms, in terms of the statistical properties. 
> *Hint*: Without performing any calculations, can you comment on the average or skew of each histogram?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 7.** Why is your solution in Question 6 the case? Based on one of the following two readings, why are the distributions for Boston and Manila different?

- [Boston reading](https://www.climatestotravel.com/climate/united-states/boston)
- [Manila reading](https://manilafyi.com/why-is-manila-traffic-so-bad/)

*Hint:* Try thinking about external factors of the two cities that may be causing the difference! The readings provide some potential factors -- try to connect them to the ride time data.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## 4. Histograms

Consider the following scatter plot: 

![Alt text](scatter.png "Scatter plot showing data points for the variables 'x' and 'y'. The data are symmetric about the x-axis centered at 0 and symmetric about the y-axis centered at 0, but with no data in the [-0.5, 0.5] range on the y-axis.")

The axes of the plot represent values of two variables: $x$ and $y$.

Suppose we have a table called `t` that has two columns in it:

- `x`: a column containing the x-values of the points in the scatter plot
- `y`: a column containing the y-values of the points in the scatter plot

Below, you are given three histograms—one corresponds to column `x`, one corresponds to column `y`, and one does not correspond to either column.

**Histogram A:**
 
![Alt text](var3.png "Symmetrical, bell-shaped histogram centered around 0")

**Histogram B:**

![Alt text](var1.png "Symmetrical histogram with two peaks at -1 and 1 but no data around 0")

**Histogram C:**

![Alt text](var2.png "Asymmetrical histogram with a peak around -0.5 and a right skew")

**Question 1.** Suppose we run `t.hist('x')`. Which histogram does this code produce? Assign `histogram_column_x` to either 1, 2, or 3.

1. Histogram A
2. Histogram B
3. Histogram C

In [ ]:
histogram_column_x = ...

In [ ]:
grader.check("q4_1")

<!-- BEGIN QUESTION -->

**Question 2.** State at least one reason why you chose the histogram from Question 1. **Make sure to clearly indicate which histogram you selected** (ex: "I chose histogram A because ...").

_Type your answer here, replacing this text._

<!-- END QUESTION -->

**Question 3.** Suppose we run `t.hist('y')`. Which histogram does this code produce? Assign `histogram_column_y` to either 1, 2, or 3.

1. Histogram A
2. Histogram B
3. Histogram C

In [ ]:
histogram_column_y = ...

In [ ]:
grader.check("q4_3")

<!-- BEGIN QUESTION -->

**Question 4.** State at least one reason why you chose the histogram from Question 3.  **Make sure to clearly indicate which histogram you selected** (ex: "I chose histogram A because ...").

_Type your answer here, replacing this text._

## Submission

Make sure you have run all cells in your notebook in order, so that all images/graphs appear in the output. Use the Github "Export" option to generate an HTML file for this notebook and upload it to Canvas. (If the export gives an error, try first running "pip install nbconvert" in the terminal.)