In [4]:
# Initialize Otter
import otter
grader = otter.Notebook("lab04.ipynb")

/home/codespace/.local/lib/python3.12/site-packages/nbformat/__init__.py:96: MissingIDFieldWarning: Cell is missing an id field, this will become a hard error in future nbformat versions. You may want to use `normalize()` on your notebooks before validations (available since nbformat 5.1.4). Previous versions of nbformat are fixing this issue transparently, and will stop doing so in the future.
  validate(nb)

# Lab 4: Functions and Visualizations

Welcome to Lab 4! This week, we'll learn about functions, table methods such as `apply`, and how to generate visualizations! 

Recommended Reading:

* [Applying a Function to a Column](https://inferentialthinking.com/chapters/08/1/Applying_a_Function_to_a_Column.html)
* [Visualizations](https://inferentialthinking.com/chapters/07/Visualization.html)
* [Python Reference](https://www.data8.org/su24/reference/)

First, set up the notebook by running the cell below.

In [5]:
import numpy as np
from datascience import *

# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

## 1. Defining functions

Let's start off by writing a function that converts a proportion to a percentage by multiplying it by 100.  For example, the value of `to_percentage(.5)` should be the number 50 (no percent sign).

A function definition has a few parts.

##### `def`
We create a function with a `def` statement (short for **def**ine):

<br>
<pre style="margin-left: 40px; font-family: 'Courier New';"><code><span style="font-weight: bold; color: green">def</span></code>
</pre>

##### Name
Next comes the name of the function.  Like other names we've defined, it can't start with a number or contain spaces. Let's call our function `to_percentage`:
    
<br>
<pre style="margin-left: 40px; font-family: 'Courier New';"><code><span style="font-weight: bold; color: green">def</span> <span style="color: blue">to_percentage</span></code>
</pre>

##### Signature
Next comes something ___signature___ of the function.  This tells Python the number of **arguments** in the function and the names of those arguments. An argument is a value that is _passed into_ the function when it is called. A function can have any number of arguments (including 0!). 

`to_percentage` should take one argument, and we'll call that argument `proportion` since it should be a proportion.

<br>
<pre style="margin-left: 40px; font-family: 'Courier New';"><code><span style="font-weight: bold; color: green">def</span> <span style="color: blue">to_percentage</span>(proportion)</code>
</pre>
    
If we want our function to take more than one argument, we add a comma between each argument name i.e to_percentage(proportion, decimals). Note that if we had zero arguments, we'd still place the parentheses () after that name. 

We put a **colon** after the signature to tell Python that the next indented lines are the body of the function. Make sure you remember the colon!

<br>
<pre style="margin-left: 40px; font-family: 'Courier New';"><code><span style="font-weight: bold; color: green">def</span> <span style="color: blue">to_percentage</span>(proportion):</code>
</pre>

##### Documentation
Functions can do complicated things, so you should write an explanation of what your function does.  For small functions, this is less important, but it's a good habit to learn from the start (although documentation isn't strictly required).  Conventionally, Python functions are documented by writing an **indented** triple-quoted string:

<br>
<pre style="margin-left: 40px; font-family: 'Courier New';"><code><span style="font-weight: bold; color: green">def</span> <span style="color: blue">to_percentage</span>(proportion):<br><span style="padding-left: 40px"><span style="color: red">"""Converts a proportion to a percentage."""</span></span></code>
</pre>

##### Body
Now we start writing code that runs when the function is called.  This is called the *body* of the function and every line **must be indented with a tab**.  Any lines that are *not* indented and left-aligned with the def statement is considered outside the function. 

Some notes about the body of the function:
- We can write code that we would write anywhere else.  
- We use the arguments defined in the function signature. We can do this because values are assigned to those arguments when we call the function.
- We generally avoid referencing variables defined *outside* the function. If you would like to reference variables outside of the function, pass them through as arguments!


Now, let's give a name to the number we multiply a proportion by to get a percentage:

<br>
<pre style="margin-left: 40px; font-family: 'Courier New';"><code><span style="font-weight: bold; color: green">def</span> <span style="color: blue">to_percentage</span>(proportion):<br><span style="padding-left: 40px"><span style="color: red">"""Converts a proportion to a percentage."""</span></span>
<span style="padding-left: 40px">factor <span style="color: purple">=</span> <span style="color: green">100</span></span></code>
</pre>

##### `return`
The special instruction `return` is part of the function's body and tells Python to make the value of the function call equal to whatever comes right after `return`.  We want the value of `to_percentage(.5)` to be the proportion .5 times the factor 100, so we write:

<br>
<pre style="margin-left: 40px; font-family: 'Courier New';"><code><span style="font-weight: bold; color: green">def</span> <span style="color: blue">to_percentage</span>(proportion):<br><span style="padding-left: 40px"><span style="color: red">"""Converts a proportion to a percentage."""</span></span>
<span style="padding-left: 40px">factor <span style="color: purple">=</span> <span style="color: green">100</span></span>
<span style="padding-left: 40px"><span style="font-weight: bold; color: green">return</span> proportion <span style="color: purple">*</span> factor</span>
</code>
</pre>
        
`return` only makes sense in the context of a function, and **can never be used outside of a function**. `return` is always the last line of the function because Python stops executing the body of a function once it hits a `return` statement. Make sure to include a return statement unless you don't expect the function to return anything. 

*Note:*  `return` inside a function tells Python what value the function evaluates to. However, there are other functions, like `print`, that have no `return` value. For example, `print` simply prints a certain value out to the console. 

In short, `return` is used when you want to tell the *computer* what the value of some variable is, while `print` is used to tell you, a *human*, its value.

**Question 1.1.** Define `to_percentage` in the cell below.  Call your function to convert the proportion .2 to a percentage.  Name that percentage `twenty_percent`.

In [6]:
def to_percentage(proportion):
    """(turns a factor into a percentag)"""
    factor= 100
    return proportion*factor

twenty_percent = to_percentage(.2)
twenty_percent

20.0

In [7]:
grader.check("q11")

q11 results: All test cases passed!

Here's something important about functions: **the names assigned *within* a function body are only accessible within the function body**. Once the function has returned, those names are gone.  So even if you created a variable called `factor` and defined `factor = 100` inside of the body of the `to_percentage` function and then called `to_percentage`, `factor` would not have a value assigned to it outside of the body of `to_percentage`:

**Note**: Below, you should see a `NameError` error message indicating that the `name 'factor' is not defined`. Python  throws this error because `factor` has not been defined outside of the body of the `to_percentage` function.

In [8]:
# You should get an error when you run this.  (If you don't, 
# you might have defined factor somewhere above.)
factor

NameError: name 'factor' is not defined

Like you‚Äôve done with built-in functions in previous labs (max, abs, etc.), you can pass in named values as arguments to your function.

**Question 1.2.** Use `to_percentage` again to convert the proportion named `a_proportion` (defined below) to a percentage called `a_percentage`.

*Note:* You don't need to define `to_percentage` again!  Like other named values, functions stick around after you define them.

In [9]:
a_proportion = 2**(0.5) / 2
a_percentage = to_percentage(a_proportion)
a_percentage

70.71067811865476

In [10]:
grader.check("q12")

q12 results: All test cases passed!

In the following cell, we will define a function called `disemvowel`.  It takes in a single string as its argument. It returns a copy of that string, but with all the characters that are vowels removed.  (In English, the vowels are the characters "a", "e", "i", "o", and "u".) 

To remove all the "a"s from a string, we used `a_string.replace("a", "")`.  The `.replace` method for strings returns a new string, so we can call `replace` multiple times, one after the other.

In [11]:
def disemvowel(a_string):
    """Removes all vowels from a string."""
    return a_string.replace("a", "").replace("e", "").replace("i", "").replace("o", "").replace("u", "")

# An example call to the function.  (It's often helpful to run
# an example call from time to time while we're writing a function,
# to see how it currently works.)
disemvowel("Can you read this without vowels?")

'Cn y rd ths wtht vwls?'

##### Calls on calls on calls
Just as you write a series of lines to build up a complex computation, it's useful to define a series of small functions that build on each other.  Since you can write any code inside a function's body, you can call other functions you've written.

If a function is like a recipe, defining a function in terms of other functions is like having a recipe for cake telling you to follow another recipe to make the frosting, and another to make the jam filling.  This makes the cake recipe shorter and clearer, and it avoids having a bunch of duplicated frosting recipes.  It's a foundation of productive programming.

For example, suppose you want to count the number of characters *that aren't vowels* in a piece of text.  One way to do this is to remove all the vowels and count the size of the remaining string.

**Question 1.3.** Write a function called `num_non_vowels`.  It should take a string as its argument and return a number.  That number should be the number of characters in the argument string that aren't vowels. You should use the `disemvowel` function we provided above inside of the `num_non_vowels` function.

*Hint:* The function `len` takes a string as its argument and returns the number of characters in it.

In [65]:
def num_non_vowels(a_string):
    """The number of characters in a string, minus the vowels."""
    return len(disemvowel(a_string)) 

# Try calling your function yourself to make sure the output is what
# you expect.

In [66]:
grader.check("q13")

q13 results: All test cases passed!

Functions can also encapsulate code that *displays output* instead of computing a value. For example, if you call `print` inside a function, and then call that function, something will get printed.

The `movies_by_year` dataset in the textbook has information about movie sales in recent years.  Suppose you'd like to display the year with the 5th-highest total gross movie sales, printed within a sentence.  You might do this:

In [14]:
movies_by_year = Table.read_table("movies_by_year.csv")
rank = 5
fifth_from_top_movie_year = movies_by_year.sort("Total Gross", descending=True).column("Year").item(rank-1)
print("Year number", rank, "for total gross movie sales was:", fifth_from_top_movie_year)

Year number 5 for total gross movie sales was: 2010

After writing this, you realize you also wanted to print out the 2nd and 3rd-highest years.  Instead of copying your code, you decide to put it in a function.  Since the rank varies, you make that an argument to your function.

**Question 1.4.** Write a function called `print_kth_top_movie_year`.  It should take a single argument, the rank of the year (like 2, 3, or 5 in the above examples) and should use the table `movies_by_year`. It should print out a message like the one above.  

*Note:* Your function shouldn't have a `return` statement.

In [15]:
def print_kth_top_movie_year(k):
    ...
    print(...)


# Example calls to your function:
print_kth_top_movie_year(2)
print_kth_top_movie_year(3)

Ellipsis
Ellipsis

In [16]:
grader.check("q14")

q14 results:
    q14 - 1 result:
        ‚ùå Test case failed
        Trying:
            print_kth_top_movie_year(4)
        Expecting:
            Year number 4 for total gross movie sales was: 2009
        **********************************************************************
        Line 1, in q14 0
        Failed example:
            print_kth_top_movie_year(4)
        Expected:
            Year number 4 for total gross movie sales was: 2009
        Got:
            Ellipsis

### `print` is not the same as `return`
The `print_kth_top_movie_year(k)` function prints the total gross movie sales for the year that was provided! However, since we did not return any value in this function, we can not use it after we call it. Let's look at an example of another function that prints a value but does not return it.

In [17]:
def print_number_five():
    print(5)

In [18]:
print_number_five()

5

However, if we try to use the output of `print_number_five()`, we see that the value `5` is printed but we get a TypeError when we try to add the number 2 to it!

In [19]:
print_number_five_output = print_number_five()
print_number_five_output + 2

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

It may seem that `print_number_five()` is returning a value, 5. In reality, it just displays the number 5 to you without giving you the actual value! If your function prints out a value **without returning it** and you try to use that value, you will run into errors, so be careful!

Think about how you might add a line of code to the `print_number_five` function (after `print(5)`) so that the code `print_number_five_output + 5` would result in the value `10`, rather than an error.

## 2. Functions and CEO Incomes

In this question, we'll look at the 2015 compensation of CEOs at the 100 largest companies in California. The data was compiled from a [Los Angeles Times analysis](http://spreadsheets.latimes.com/california-ceo-compensation/), and ultimately came from [filings](https://www.sec.gov/answers/proxyhtf.htm) mandated by the SEC from all publicly-traded companies. Two companies have two CEOs, so there are 102 CEOs in the dataset.

We've copied the raw data from the LA Times page into a file called `raw_compensation.csv`. (The page notes that all dollar amounts are in **millions of dollars**.)

In [20]:
raw_compensation = Table.read_table('raw_compensation.csv')
raw_compensation

Rank | Name               | Company (Headquarters)         | Total Pay | % Change           | Cash Pay | Equity Pay | Other Pay | Ratio of CEO pay to average industry worker pay
1    | Mark V. Hurd*      | Oracle (Redwood City)          | $53.25    | (No previous year) | $0.95    | $52.27     | $0.02     | 362
2    | Safra A. Catz*     | Oracle (Redwood City)          | $53.24    | (No previous year) | $0.95    | $52.27     | $0.02     | 362
3    | Robert A. Iger     | Walt Disney (Burbank)          | $44.91    | -3%                | $24.89   | $17.28     | $2.74     | 477
4    | Marissa A. Mayer   | Yahoo! (Sunnyvale)             | $35.98    | -15%               | $1.00    | $34.43     | $0.55     | 342
5    | Marc Benioff       | salesforce.com (San Francisco) | $33.36    | -16%               | $4.65    | $27.26     | $1.45     | 338
6    | John H. Hammergren | McKesson (San Francisco)       | $24.84    | -4%                | $12.10   | $12.37     | $0.37     | 222
7    | John S. Watson     | Chevron (San Ramon)            | $22.04    | -15%               | $4.31    | $14.68     | $3.05     | 183
8    | Jeffrey Weiner     | LinkedIn (Mountain View)       | $19.86    | 27%                | $2.47    | $17.26     | $0.13     | 182
9    | John T. Chambers** | Cisco Systems (San Jose)       | $19.62    | 19%                | $5.10    | $14.51     | $0.01     | 170
10   | John G. Stumpf     | Wells Fargo  (San Francisco)   | $19.32    | -10%               | $6.80    | $12.50     | $0.02     | 256
... (91 rows omitted)

We want to compute the average of the CEOs' pay. Try running the cell below.

In [21]:
np.average(raw_compensation.column("Total Pay"))

TypeError: the resolved dtypes are not compatible with add.reduce. Resolved (dtype('<U7'), dtype('<U7'), dtype('<U14'))

You should see a `TypeError`. Let's examine why this error occurred by looking at the values in the `Total Pay` column. To do so, we can use the `type` function. This function tells us the data type of the object that we pass into it. Run the following cells to see what happens when we pass in `23`, `3.5`, and `"Hello"` to the `type` function. Do their outputs make sense?

In [22]:
type(23)

int

In [23]:
type(3.5)

float

In [24]:
type("Hello")

str

**Question 2.1.** Use the `type` function and set `total_pay_type` to the type of the first value in the "Total Pay" column.

In [25]:
total_pay_type = ...
total_pay_type

Ellipsis

In [26]:
grader.check("q21")

q21 results:
    q21 - 1 result:
        ‚úÖ Test case passed

    q21 - 2 result:
        ‚ùå Test case failed
        Trying:
            'str' in str(total_pay_type)
        Expecting:
            True
        **********************************************************************
        Line 1, in q21 1
        Failed example:
            'str' in str(total_pay_type)
        Expected:
            True
        Got:
            False

    q21 - 3 result:
        ‚ùå Test case failed
        Trying:
            isinstance(total_pay_type, type)
        Expecting:
            True
        **********************************************************************
        Line 1, in q21 2
        Failed example:
            isinstance(total_pay_type, type)
        Expected:
            True
        Got:
            False

    q21 - 4 result:
        ‚úÖ Test case passed

**Question 2.2.** You should have found that the values in the `Total Pay` column are strings. It doesn't make sense to take the average of string values, so we need to convert them to numbers. Extract the first value in `Total Pay`.  It's Mark Hurd's pay in 2015, in *millions* of dollars.  Call it `mark_hurd_pay_string`.

In [27]:
mark_hurd_pay_string = ...
mark_hurd_pay_string

Ellipsis

In [28]:
grader.check("q22")

q22 results:
    q22 - 1 result:
        ‚ùå Test case failed
        Trying:
            str(mark_hurd_pay_string)
        Expecting:
            '$53.25 '
        **********************************************************************
        Line 1, in q22 0
        Failed example:
            str(mark_hurd_pay_string)
        Expected:
            '$53.25 '
        Got:
            'Ellipsis'

**Question 2.3.** Convert `mark_hurd_pay_string` to a number of *dollars*. 

Some hints, as this question requires multiple steps:
- The string method `strip` will be useful for removing the dollar sign; it removes a specified character from the start or end of a string.  For example, the value of `"100%".strip("%")` is the string `"100"`.  
- You'll also need the function `float`, which converts a string that looks like a number to an actual number. Don't worry about the whitespace at the end of the string; the `float` function will ignore this.
- Finally, remember that the answer should be in dollars, not millions of dollars.

In [29]:
mark_hurd_pay = ...
mark_hurd_pay

Ellipsis

In [30]:
grader.check("q23")

q23 results:
    q23 - 1 result:
        ‚úÖ Test case passed

    q23 - 2 result:
        ‚úÖ Test case passed

    q23 - 3 result:
        ‚ùå Test case failed
        Trying:
            mark_hurd_pay == 53250000
        Expecting:
            True
        **********************************************************************
        Line 3, in q23 2
        Failed example:
            mark_hurd_pay == 53250000
        Expected:
            True
        Got:
            False

To compute the average pay, we need to do this for every CEO.  But that looks like it would involve copying this code 102 times.

We'll instead use functions to perform this computation. Later in this lab, we'll see the payoff: we can call that function on every pay string in the dataset at once.

**Question 2.4.** Copy the expression you used to compute `mark_hurd_pay`, and use it as the return expression of the function below. But make sure you replace the specific `mark_hurd_pay_string` with the generic `pay_string` name specified in the first line in the `def` statement.

*Hint*: When dealing with functions, you should generally not be referencing any variable outside of the function. Usually, you want to be working with the arguments that are passed into it, such as `pay_string` for this function. If you're using `mark_hurd_pay_string` within your function, you're referencing an outside variable!

In [31]:
def convert_pay_string_to_number(pay_string):
    """Converts a pay string like '$100' (in millions) to a number of dollars."""
    ...

In [32]:
grader.check("q24")

q24 results:
    q24 - 1 result:
        ‚ùå Test case failed
        Trying:
            convert_pay_string_to_number("$100 ") == 100000000.0
        Expecting:
            True
        **********************************************************************
        Line 1, in q24 0
        Failed example:
            convert_pay_string_to_number("$100 ") == 100000000.0
        Expected:
            True
        Got:
            False

    q24 - 2 result:
        ‚ùå Test case failed
        Trying:
            convert_pay_string_to_number("$23 ") == 23000000.0
        Expecting:
            True
        **********************************************************************
        Line 1, in q24 1
        Failed example:
            convert_pay_string_to_number("$23 ") == 23000000.0
        Expected:
            True
        Got:
            False

Running that cell doesn't convert any particular pay string. Instead, it creates a function called `convert_pay_string_to_number` that can convert *any* string with the right format to a number representing millions of dollars.

We can call our function just like we call the built-in functions we've seen. It takes one argument, *a string*, and it returns a float.

In [33]:
convert_pay_string_to_number('$42')

In [34]:
convert_pay_string_to_number(mark_hurd_pay_string)

In [35]:
# We can also compute Safra Catz's pay in the same way:
convert_pay_string_to_number(raw_compensation.where("Name", are.containing("Safra")).column("Total Pay").item(0))

With this function, we don't have to copy the code that converts a pay string to a number each time we wanted to convert a pay string.  Now we just call a function whose name says exactly what it's doing.

## 3. `apply`ing functions

Defining a function is a lot like giving a name to a value with `=`.  In fact, a function is a value just like the number 1 or the text "data"!

For example, we can make a new name for the built-in function `max` if we want:

In [36]:
our_name_for_max = max
our_name_for_max(2, 6)

6

The old name for `max` is still around:

In [37]:
max(2, 6)

6

Try just writing `max` or `our_name_for_max` (or the name of any other function) in a cell, and run that cell.  Python will print out a (very brief) description of the function.

In [38]:
max

Now try writing `max?` or `our_name_for_max?` (or the name of any other function) in a cell, and run that cell.  A information box should show up at the bottom of your screen a longer description of the function

*Note: You can also press Shift+Tab after clicking on a name to see similar information!*

In [39]:
our_name_for_max?

Docstring:
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.
Type:      builtin_function_or_method

Let's look at what happens when we set `max`to a non-function value. Python now thinks you're trying to use a number like a function, which causes an error. Look out for any functions that might have been renamed when you encounter this type of error.

In [40]:
max = 6
max(2, 6)

TypeError: 'int' object is not callable

In [41]:
# This cell resets max to the built-in function. Just run this cell, don't change its contents
import builtins
max = builtins.max

Why is this useful?  Since functions are just values, it's possible to pass them as arguments to other functions.  Here's a simple but not-so-practical example: we can make an array of functions.

In [42]:
make_array(max, np.average, are.equal_to)

array([<built-in function max>, <function average at 0x742a301eef30>,
       <function are.equal_to at 0x742a08737600>], dtype=object)

**Question 3.1.** Make an array containing any 3 other functions you've seen.  Call it `some_functions`.

In [43]:
some_functions = ...
some_functions

Ellipsis

In [44]:
grader.check("q31")

q31 results:
    q31 - 1 result:
        ‚ùå Test case failed
        Trying:
            len(some_functions)
        Expecting:
            3
        **********************************************************************
        Line 1, in q31 0
        Failed example:
            len(some_functions)
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q31 0[0]>", line 1, in <module>
                len(some_functions)
            TypeError: object of type 'ellipsis' has no len()

    q31 - 2 result:
        ‚ùå Test case failed
        Trying:
            callable(some_functions.item(0))
        Expecting:
            True
        **********************************************************************
        Line 2, in q31 1
        Failed example:
            callable(some_functions.item(0))
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q31 1[0]>", line 1, in <module>
                callable(some_functions.item(0))
                         ^^^^^^^^^^^^^^^^^^^
            AttributeError: 'ellipsis' object has no attribute 'item'

    q31 - 3 result:
        ‚ùå Test case failed
        Trying:
            callable(some_functions.item(1))
        Expecting:
            True
        **********************************************************************
        Line 2, in q31 2
        Failed example:
            callable(some_functions.item(1))
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q31 2[0]>", line 1, in <module>
                callable(some_functions.item(1))
                         ^^^^^^^^^^^^^^^^^^^
            AttributeError: 'ellipsis' object has no attribute 'item'

    q31 - 4 result:
        ‚ùå Test case failed
        Trying:
            callable(some_functions.item(2))
        Expecting:
            True
        **********************************************************************
        Line 2, in q31 3
        Failed example:
            callable(some_functions.item(2))
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q31 3[0]>", line 1, in <module>
                callable(some_functions.item(2))
                         ^^^^^^^^^^^^^^^^^^^
            AttributeError: 'ellipsis' object has no attribute 'item'

Working with functions as values can lead to some funny-looking code. For example, see if you can figure out why the following code works.

In [45]:
make_array(max, np.average, are.equal_to).item(0)(4, -2, 7)

7

A more useful example of passing functions to other functions as arguments is the table method `apply`.

`apply` calls a function many times, once on *each* element in a column of a table.  It produces an *array* of the results.  Here we use `apply` to convert every CEO's pay to a number, using the function you defined:

*Note:* You'll see an array of numbers like `5.325e+07`. This is Python's way of representing **scientific notation**. We interpret `5.325e+07` as `5.325 * 10**7`, or `53,250,000`.

In [46]:
raw_compensation.apply(convert_pay_string_to_number, "Total Pay")

array([None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None, None, None, None, None, None,
       None, None], dtype=object)

Here's an illustration of what that did:

<img src="apply.png"/>

Note that we didn‚Äôt write `raw_compensation.apply(convert_pay_string_to_number(), ‚ÄúTotal Pay‚Äù)` or `raw_compensation.apply(convert_pay_string_to_number(‚ÄúTotal Pay‚Äù))`. We just passed the name of the function, with no parentheses, to `apply`, because all we want to do is let `apply` know the name of the function we‚Äôd like to use and the name of the column we‚Äôd like to use it on. `apply` will then call the function `convert_pay_string_to_number` on each value in the column for us! Also note that calling `tbl.apply` ___does not___ alter the original table in any way.



**Question 3.2.** Using `apply`, make a table that's a copy of `raw_compensation` with one additional column called `Total Pay ($)`.  That column should contain the result of applying `convert_pay_string_to_number` to the `Total Pay` column (as we did above).  Call the new table `compensation`.

In [47]:
compensation = raw_compensation.with_column(
    "Total Pay ($)",
    ...
    )
compensation

Rank | Name               | Company (Headquarters)         | Total Pay | % Change           | Cash Pay | Equity Pay | Other Pay | Ratio of CEO pay to average industry worker pay | Total Pay ($)
1    | Mark V. Hurd*      | Oracle (Redwood City)          | $53.25    | (No previous year) | $0.95    | $52.27     | $0.02     | 362                                             | Ellipsis
2    | Safra A. Catz*     | Oracle (Redwood City)          | $53.24    | (No previous year) | $0.95    | $52.27     | $0.02     | 362                                             | Ellipsis
3    | Robert A. Iger     | Walt Disney (Burbank)          | $44.91    | -3%                | $24.89   | $17.28     | $2.74     | 477                                             | Ellipsis
4    | Marissa A. Mayer   | Yahoo! (Sunnyvale)             | $35.98    | -15%               | $1.00    | $34.43     | $0.55     | 342                                             | Ellipsis
5    | Marc Benioff       | salesforce.com (San Francisco) | $33.36    | -16%               | $4.65    | $27.26     | $1.45     | 338                                             | Ellipsis
6    | John H. Hammergren | McKesson (San Francisco)       | $24.84    | -4%                | $12.10   | $12.37     | $0.37     | 222                                             | Ellipsis
7    | John S. Watson     | Chevron (San Ramon)            | $22.04    | -15%               | $4.31    | $14.68     | $3.05     | 183                                             | Ellipsis
8    | Jeffrey Weiner     | LinkedIn (Mountain View)       | $19.86    | 27%                | $2.47    | $17.26     | $0.13     | 182                                             | Ellipsis
9    | John T. Chambers** | Cisco Systems (San Jose)       | $19.62    | 19%                | $5.10    | $14.51     | $0.01     | 170                                             | Ellipsis
10   | John G. Stumpf     | Wells Fargo  (San Francisco)   | $19.32    | -10%               | $6.80    | $12.50     | $0.02     | 256                                             | Ellipsis
... (91 rows omitted)

In [48]:
grader.check("q32")

q32 results:
    q32 - 1 result:
        ‚úÖ Test case passed

    q32 - 2 result:
        ‚ùå Test case failed
        Trying:
            t = compensation.sort('Total Pay ($)', descending = True)
        Expecting nothing
        **********************************************************************
        Line 2, in q32 1
        Failed example:
            t = compensation.sort('Total Pay ($)', descending = True)
        Exception raised:
            Traceback (most recent call last):
              File "/home/codespace/.local/lib/python3.12/site-packages/numpy/_core/fromnumeric.py", line 57, in _wrapfunc
                return bound(*args, **kwds)
                       ^^^^^^^^^^^^^^^^^^^^
            TypeError: '<' not supported between instances of 'ellipsis' and 'ellipsis'

            During handling of the above exception, another exception occurred:

            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q32 1[0]>", line 1, in <module>
                t = compensation.sort('Total Pay ($)', descending = True)
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "/usr/local/python/3.12.1/lib/python3.12/site-packages/datascience/tables.py", line 1493, in sort
                row_numbers = np.argsort(column, axis=0, kind='mergesort')
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "/home/codespace/.local/lib/python3.12/site-packages/numpy/_core/fromnumeric.py", line 1242, in argsort
                return _wrapfunc(
                       ^^^^^^^^^^
              File "/home/codespace/.local/lib/python3.12/site-packages/numpy/_core/fromnumeric.py", line 66, in _wrapfunc
                return _wrapit(obj, method, *args, **kwds)
                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
              File "/home/codespace/.local/lib/python3.12/site-packages/numpy/_core/fromnumeric.py", line 46, in _wrapit
                result = getattr(arr, method)(*args, **kwds)
                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            TypeError: '<' not supported between instances of 'ellipsis' and 'ellipsis'
        Trying:
            np.isclose(t.column('Total Pay ($)').item(0), 53250000.0)
        Expecting:
            True
        **********************************************************************
        Line 3, in q32 1
        Failed example:
            np.isclose(t.column('Total Pay ($)').item(0), 53250000.0)
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q32 1[1]>", line 1, in <module>
                np.isclose(t.column('Total Pay ($)').item(0), 53250000.0)
                           ^
            NameError: name 't' is not defined

Now that we have all the pays as numbers, we can learn more about them through computation.

**Question 3.3.** Compute the average total pay of the CEOs in the dataset.

In [49]:
average_total_pay = ...
average_total_pay

Ellipsis

In [50]:
grader.check("q33")

q33 results:
    q33 - 1 result:
        ‚ùå Test case failed
        Trying:
            import math
        Expecting nothing
        ok
        Trying:
            math.isclose(average_total_pay, 11558613.861386139, rel_tol = 0.1)
        Expecting:
            True
        **********************************************************************
        Line 2, in q33 0
        Failed example:
            math.isclose(average_total_pay, 11558613.861386139, rel_tol = 0.1)
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q33 0[1]>", line 1, in <module>
                math.isclose(average_total_pay, 11558613.861386139, rel_tol = 0.1)
            TypeError: must be real number, not ellipsis

**Question 3.4** Companies pay executives in a variety of ways: in cash, by granting stock or other equity in the company, or with ancillary benefits (like private jets).  Compute the proportion of each CEO's pay that was cash.  (Your answer should be an array of numbers, one for each CEO in the dataset.)

*Hint:* What function have you defined that can convert a string to a number?

In [51]:
cash_proportion = ...
cash_proportion

Ellipsis

In [52]:
grader.check("q34")

q34 results:
    q34 - 1 result:
        ‚ùå Test case failed
        Trying:
            len(cash_proportion) == 101
        Expecting:
            True
        **********************************************************************
        Line 1, in q34 0
        Failed example:
            len(cash_proportion) == 101
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q34 0[0]>", line 1, in <module>
                len(cash_proportion) == 101
                ^^^^^^^^^^^^^^^^^^^^
            TypeError: object of type 'ellipsis' has no len()

    q34 - 2 result:
        ‚ùå Test case failed
        Trying:
            import math
        Expecting nothing
        ok
        Trying:
            math.isclose(cash_proportion.item(0), 0.01784038, rel_tol = .001)
        Expecting:
            True
        **********************************************************************
        Line 2, in q34 1
        Failed example:
            math.isclose(cash_proportion.item(0), 0.01784038, rel_tol = .001)
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q34 1[1]>", line 1, in <module>
                math.isclose(cash_proportion.item(0), 0.01784038, rel_tol = .001)
                             ^^^^^^^^^^^^^^^^^^^^
            AttributeError: 'ellipsis' object has no attribute 'item'

**Why is `apply` useful?**

For operations like arithmetic, or the functions in the NumPy library, you don't need to use `apply`, because they automatically work on each element of an array.  But there are many things that don't.  The string manipulation we did in today's lab is one example.  Since you can write any code you want in a function, `apply` gives you greater control over how you operate on data.

Check out the `% Change` column in `compensation`.  It shows the percentage increase in the CEO's pay from the previous year.  For CEOs with no previous year on record, it instead says "(No previous year)".  The values in this column are *strings*, not numbers, so like the `Total Pay` column, it's not usable without a bit of extra work.

Given your current pay and the percentage increase from the previous year, you can compute your previous year's pay.  For example, if your pay is $\$120$ this year, and that's an increase of 50% from the previous year, then your previous year's pay was $\frac{\$120}{1 + \frac{50}{100}}$, or \$80.

**Question 3.5** Create a new table called `with_previous_compensation`.  It should be a copy of `compensation`, but with the "(No previous year)" CEOs filtered out, and with an extra column called `2014 Total Pay ($)`.  That column should have each CEO's pay in 2014.

*Hint 1:* You can print out your results after each step to make sure you're on the right track.

*Hint 2:* We've provided a structure that you can use to get to the answer. However, if it's confusing, feel free to delete the current structure and approach the problem your own way!

In [53]:
# Definition to turn percent to number
def percent_string_to_num(percent_string):
    """Converts a percentage string to a number."""
    return ...

# Compensation table where there is a previous year
having_previous_year = ...

# Get the percent changes as numbers instead of strings
# We're still working off the table having_previous_year
percent_changes = ...

# Calculate the previous year's pay
# We're still working off the table having_previous_year
previous_pay = ...

# Put the previous pay column into the having_previous_year table
with_previous_compensation = ...

with_previous_compensation

Ellipsis

In [54]:
grader.check("q35")

q35 results:
    q35 - 1 result:
        ‚ùå Test case failed
        Trying:
            "(No previous year)" not in with_previous_compensation.column("% Change")
        Expecting:
            True
        **********************************************************************
        Line 2, in q35 0
        Failed example:
            "(No previous year)" not in with_previous_compensation.column("% Change")
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q35 0[0]>", line 1, in <module>
                "(No previous year)" not in with_previous_compensation.column("% Change")
                                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            AttributeError: 'ellipsis' object has no attribute 'column'

    q35 - 2 result:
        ‚ùå Test case failed
        Trying:
            import math
        Expecting nothing
        ok
        Trying:
            t = with_previous_compensation.sort("2014 Total Pay ($)", descending = True)
        Expecting nothing
        **********************************************************************
        Line 3, in q35 1
        Failed example:
            t = with_previous_compensation.sort("2014 Total Pay ($)", descending = True)
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q35 1[1]>", line 1, in <module>
                t = with_previous_compensation.sort("2014 Total Pay ($)", descending = True)
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            AttributeError: 'ellipsis' object has no attribute 'sort'
        Trying:
            value = t.column("2014 Total Pay ($)").item(0)
        Expecting nothing
        **********************************************************************
        Line 4, in q35 1
        Failed example:
            value = t.column("2014 Total Pay ($)").item(0)
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q35 1[2]>", line 1, in <module>
                value = t.column("2014 Total Pay ($)").item(0)
                        ^
            NameError: name 't' is not defined
        Trying:
            math.isclose(value, 67700000.0, rel_tol = 0.01)
        Expecting:
            True
        **********************************************************************
        Line 5, in q35 1
        Failed example:
            math.isclose(value, 67700000.0, rel_tol = 0.01)
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q35 1[3]>", line 1, in <module>
                math.isclose(value, 67700000.0, rel_tol = 0.01)
                             ^^^^^
            NameError: name 'value' is not defined. Did you mean: 'False'?

    q35 - 3 result:
        ‚ùå Test case failed
        Trying:
            with_previous_compensation.num_rows == 80
        Expecting:
            True
        **********************************************************************
        Line 2, in q35 2
        Failed example:
            with_previous_compensation.num_rows == 80
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q35 2[0]>", line 1, in <module>
                with_previous_compensation.num_rows == 80
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
            AttributeError: 'ellipsis' object has no attribute 'num_rows'

**Question 3.6** Determine the average pay in 2014 of the CEOs that appear in the `with_previous_compensation` table. Assign this value to the variable `average_pay_2014`.

In [55]:
average_pay_2014 = ...
average_pay_2014

Ellipsis

In [56]:
grader.check("q36")

q36 results:
    q36 - 1 result:
        ‚ùå Test case failed
        Trying:
            import math
        Expecting nothing
        ok
        Trying:
            math.isclose(average_pay_2014, 11794790.817048479, rel_tol = 0.01)
        Expecting:
            True
        **********************************************************************
        Line 2, in q36 0
        Failed example:
            math.isclose(average_pay_2014, 11794790.817048479, rel_tol = 0.01)
        Exception raised:
            Traceback (most recent call last):
              File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                exec(compile(example.source, filename, "single",
              File "<doctest q36 0[1]>", line 1, in <module>
                math.isclose(average_pay_2014, 11794790.817048479, rel_tol = 0.01)
            TypeError: must be real number, not ellipsis

## 4. Histograms
Earlier, we computed the average pay among the CEOs in our 102-CEO dataset.  The average doesn't tell us everything about the amounts CEOs are paid, though.  Maybe just a few CEOs make the bulk of the money, even among these 102.

We can use a *histogram* method to display the *distribution* of a set of numbers.  The table method `hist` takes a single argument, the name of a column of numbers.  It produces a histogram of the numbers in that column.

**Question 4.1.** Make a histogram of the total pay of the CEOs in `compensation`. Check with a peer or instructor to make sure you have the right plot. *If you get a warning, ignore it.*

*Hint:* If you aren't sure how to create a histogram, refer to the [Python Reference sheet](https://www.data8.org/sp24/reference/).

In [57]:
...

Ellipsis

**Question 4.2.** How many CEOs made more than $30 million in total pay? Find the value using code, then check that the value you found is consistent with what you see in the histogram.

In [58]:
num_ceos_more_than_30_million_2 = ...
num_ceos_more_than_30_million_2

Ellipsis

In [59]:
grader.check("q42")

q42 results:
    q42 - 1 result:
        ‚ùå Test case failed
        Trying:
            num_ceos_more_than_30_million_2 == 5
        Expecting:
            True
        **********************************************************************
        Line 1, in q42 0
        Failed example:
            num_ceos_more_than_30_million_2 == 5
        Expected:
            True
        Got:
            False

In [60]:
# Run this cell to run all the autograde tests, then use Github to export to HTML.
grader.export(pdf=False, run_tests=True)

Running your submission against local test cases...


Your submission received the following results when run against available test cases:

    q11 results: All test cases passed!

    q12 results: All test cases passed!

    q13 results:
        q13 - 1 result:
            ‚ùå Test case failed
            Trying:
                num_non_vowels("Go bears!") == 6
            Expecting:
                True
            **********************************************************************
            Line 1, in q13 0
            Failed example:
                num_non_vowels("Go bears!") == 6
            Expected:
                True
            Got:
                False

    q14 results:
        q14 - 1 result:
            ‚ùå Test case failed
            Trying:
                print_kth_top_movie_year(4)
            Expecting:
                Year number 4 for total gross movie sales was: 2009
            **********************************************************************
            Line 1, in q14 0
            Failed example:
                print_kth_top_movie_year(4)
            Expected:
                Year number 4 for total gross movie sales was: 2009
            Got:
                Ellipsis

    q21 results:
        q21 - 1 result:
            ‚úÖ Test case passed

        q21 - 2 result:
            ‚ùå Test case failed
            Trying:
                'str' in str(total_pay_type)
            Expecting:
                True
            **********************************************************************
            Line 1, in q21 1
            Failed example:
                'str' in str(total_pay_type)
            Expected:
                True
            Got:
                False

        q21 - 3 result:
            ‚ùå Test case failed
            Trying:
                isinstance(total_pay_type, type)
            Expecting:
                True
            **********************************************************************
            Line 1, in q21 2
            Failed example:
                isinstance(total_pay_type, type)
            Expected:
                True
            Got:
                False

        q21 - 4 result:
            ‚úÖ Test case passed

    q22 results:
        q22 - 1 result:
            ‚ùå Test case failed
            Trying:
                str(mark_hurd_pay_string)
            Expecting:
                '$53.25 '
            **********************************************************************
            Line 1, in q22 0
            Failed example:
                str(mark_hurd_pay_string)
            Expected:
                '$53.25 '
            Got:
                'Ellipsis'

    q23 results:
        q23 - 1 result:
            ‚úÖ Test case passed

        q23 - 2 result:
            ‚úÖ Test case passed

        q23 - 3 result:
            ‚ùå Test case failed
            Trying:
                mark_hurd_pay == 53250000
            Expecting:
                True
            **********************************************************************
            Line 3, in q23 2
            Failed example:
                mark_hurd_pay == 53250000
            Expected:
                True
            Got:
                False

    q24 results:
        q24 - 1 result:
            ‚ùå Test case failed
            Trying:
                convert_pay_string_to_number("$100 ") == 100000000.0
            Expecting:
                True
            **********************************************************************
            Line 1, in q24 0
            Failed example:
                convert_pay_string_to_number("$100 ") == 100000000.0
            Expected:
                True
            Got:
                False

        q24 - 2 result:
            ‚ùå Test case failed
            Trying:
                convert_pay_string_to_number("$23 ") == 23000000.0
            Expecting:
                True
            **********************************************************************
            Line 1, in q24 1
            Failed example:
                convert_pay_string_to_number("$23 ") == 23000000.0
            Expected:
                True
            Got:
                False

    q31 results:
        q31 - 1 result:
            ‚ùå Test case failed
            Trying:
                len(some_functions)
            Expecting:
                3
            **********************************************************************
            Line 1, in q31 0
            Failed example:
                len(some_functions)
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q31 0[0]>", line 1, in <module>
                    len(some_functions)
                TypeError: object of type 'ellipsis' has no len()

        q31 - 2 result:
            ‚ùå Test case failed
            Trying:
                callable(some_functions.item(0))
            Expecting:
                True
            **********************************************************************
            Line 2, in q31 1
            Failed example:
                callable(some_functions.item(0))
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q31 1[0]>", line 1, in <module>
                    callable(some_functions.item(0))
                             ^^^^^^^^^^^^^^^^^^^
                AttributeError: 'ellipsis' object has no attribute 'item'

        q31 - 3 result:
            ‚ùå Test case failed
            Trying:
                callable(some_functions.item(1))
            Expecting:
                True
            **********************************************************************
            Line 2, in q31 2
            Failed example:
                callable(some_functions.item(1))
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q31 2[0]>", line 1, in <module>
                    callable(some_functions.item(1))
                             ^^^^^^^^^^^^^^^^^^^
                AttributeError: 'ellipsis' object has no attribute 'item'

        q31 - 4 result:
            ‚ùå Test case failed
            Trying:
                callable(some_functions.item(2))
            Expecting:
                True
            **********************************************************************
            Line 2, in q31 3
            Failed example:
                callable(some_functions.item(2))
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q31 3[0]>", line 1, in <module>
                    callable(some_functions.item(2))
                             ^^^^^^^^^^^^^^^^^^^
                AttributeError: 'ellipsis' object has no attribute 'item'

    q32 results:
        q32 - 1 result:
            ‚úÖ Test case passed

        q32 - 2 result:
            ‚ùå Test case failed
            Trying:
                t = compensation.sort('Total Pay ($)', descending = True)
            Expecting nothing
            **********************************************************************
            Line 2, in q32 1
            Failed example:
                t = compensation.sort('Total Pay ($)', descending = True)
            Exception raised:
                Traceback (most recent call last):
                  File "/home/codespace/.local/lib/python3.12/site-packages/numpy/_core/fromnumeric.py", line 57, in _wrapfunc
                    return bound(*args, **kwds)
                           ^^^^^^^^^^^^^^^^^^^^
                TypeError: '<' not supported between instances of 'ellipsis' and 'ellipsis'

                During handling of the above exception, another exception occurred:

                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q32 1[0]>", line 1, in <module>
                    t = compensation.sort('Total Pay ($)', descending = True)
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/datascience/tables.py", line 1493, in sort
                    row_numbers = np.argsort(column, axis=0, kind='mergesort')
                                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                  File "/home/codespace/.local/lib/python3.12/site-packages/numpy/_core/fromnumeric.py", line 1242, in argsort
                    return _wrapfunc(
                           ^^^^^^^^^^
                  File "/home/codespace/.local/lib/python3.12/site-packages/numpy/_core/fromnumeric.py", line 66, in _wrapfunc
                    return _wrapit(obj, method, *args, **kwds)
                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                  File "/home/codespace/.local/lib/python3.12/site-packages/numpy/_core/fromnumeric.py", line 46, in _wrapit
                    result = getattr(arr, method)(*args, **kwds)
                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                TypeError: '<' not supported between instances of 'ellipsis' and 'ellipsis'
            Trying:
                np.isclose(t.column('Total Pay ($)').item(0), 53250000.0)
            Expecting:
                True
            **********************************************************************
            Line 3, in q32 1
            Failed example:
                np.isclose(t.column('Total Pay ($)').item(0), 53250000.0)
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q32 1[1]>", line 1, in <module>
                    np.isclose(t.column('Total Pay ($)').item(0), 53250000.0)
                               ^
                NameError: name 't' is not defined

    q33 results:
        q33 - 1 result:
            ‚ùå Test case failed
            Trying:
                import math
            Expecting nothing
            ok
            Trying:
                math.isclose(average_total_pay, 11558613.861386139, rel_tol = 0.1)
            Expecting:
                True
            **********************************************************************
            Line 2, in q33 0
            Failed example:
                math.isclose(average_total_pay, 11558613.861386139, rel_tol = 0.1)
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q33 0[1]>", line 1, in <module>
                    math.isclose(average_total_pay, 11558613.861386139, rel_tol = 0.1)
                TypeError: must be real number, not ellipsis

    q34 results:
        q34 - 1 result:
            ‚ùå Test case failed
            Trying:
                len(cash_proportion) == 101
            Expecting:
                True
            **********************************************************************
            Line 1, in q34 0
            Failed example:
                len(cash_proportion) == 101
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q34 0[0]>", line 1, in <module>
                    len(cash_proportion) == 101
                    ^^^^^^^^^^^^^^^^^^^^
                TypeError: object of type 'ellipsis' has no len()

        q34 - 2 result:
            ‚ùå Test case failed
            Trying:
                import math
            Expecting nothing
            ok
            Trying:
                math.isclose(cash_proportion.item(0), 0.01784038, rel_tol = .001)
            Expecting:
                True
            **********************************************************************
            Line 2, in q34 1
            Failed example:
                math.isclose(cash_proportion.item(0), 0.01784038, rel_tol = .001)
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q34 1[1]>", line 1, in <module>
                    math.isclose(cash_proportion.item(0), 0.01784038, rel_tol = .001)
                                 ^^^^^^^^^^^^^^^^^^^^
                AttributeError: 'ellipsis' object has no attribute 'item'

    q35 results:
        q35 - 1 result:
            ‚ùå Test case failed
            Trying:
                "(No previous year)" not in with_previous_compensation.column("% Change")
            Expecting:
                True
            **********************************************************************
            Line 2, in q35 0
            Failed example:
                "(No previous year)" not in with_previous_compensation.column("% Change")
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q35 0[0]>", line 1, in <module>
                    "(No previous year)" not in with_previous_compensation.column("% Change")
                                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                AttributeError: 'ellipsis' object has no attribute 'column'

        q35 - 2 result:
            ‚ùå Test case failed
            Trying:
                import math
            Expecting nothing
            ok
            Trying:
                t = with_previous_compensation.sort("2014 Total Pay ($)", descending = True)
            Expecting nothing
            **********************************************************************
            Line 3, in q35 1
            Failed example:
                t = with_previous_compensation.sort("2014 Total Pay ($)", descending = True)
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q35 1[1]>", line 1, in <module>
                    t = with_previous_compensation.sort("2014 Total Pay ($)", descending = True)
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                AttributeError: 'ellipsis' object has no attribute 'sort'
            Trying:
                value = t.column("2014 Total Pay ($)").item(0)
            Expecting nothing
            **********************************************************************
            Line 4, in q35 1
            Failed example:
                value = t.column("2014 Total Pay ($)").item(0)
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q35 1[2]>", line 1, in <module>
                    value = t.column("2014 Total Pay ($)").item(0)
                            ^
                NameError: name 't' is not defined
            Trying:
                math.isclose(value, 67700000.0, rel_tol = 0.01)
            Expecting:
                True
            **********************************************************************
            Line 5, in q35 1
            Failed example:
                math.isclose(value, 67700000.0, rel_tol = 0.01)
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q35 1[3]>", line 1, in <module>
                    math.isclose(value, 67700000.0, rel_tol = 0.01)
                                 ^^^^^
                NameError: name 'value' is not defined. Did you mean: 'False'?

        q35 - 3 result:
            ‚ùå Test case failed
            Trying:
                with_previous_compensation.num_rows == 80
            Expecting:
                True
            **********************************************************************
            Line 2, in q35 2
            Failed example:
                with_previous_compensation.num_rows == 80
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q35 2[0]>", line 1, in <module>
                    with_previous_compensation.num_rows == 80
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                AttributeError: 'ellipsis' object has no attribute 'num_rows'

    q36 results:
        q36 - 1 result:
            ‚ùå Test case failed
            Trying:
                import math
            Expecting nothing
            ok
            Trying:
                math.isclose(average_pay_2014, 11794790.817048479, rel_tol = 0.01)
            Expecting:
                True
            **********************************************************************
            Line 2, in q36 0
            Failed example:
                math.isclose(average_pay_2014, 11794790.817048479, rel_tol = 0.01)
            Exception raised:
                Traceback (most recent call last):
                  File "/usr/local/python/3.12.1/lib/python3.12/doctest.py", line 1359, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q36 0[1]>", line 1, in <module>
                    math.isclose(average_pay_2014, 11794790.817048479, rel_tol = 0.01)
                TypeError: must be real number, not ellipsis

    q42 results:
        q42 - 1 result:
            ‚ùå Test case failed
            Trying:
                num_ceos_more_than_30_million_2 == 5
            Expecting:
                True
            **********************************************************************
            Line 1, in q42 0
            Failed example:
                num_ceos_more_than_30_million_2 == 5
            Expected:
                True
            Got:
                False